@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 56 70% 95%;
		--foreground: 190 33% 7%;
		--card: 55 100% 98%;
		--card-foreground: 190 33% 7%;
		--popover: 55 100% 98%;
		--popover-foreground: 190 33% 7%;
		--primary: 25 98% 64%;
		--primary-foreground: 222 43% 14%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 25 98% 64%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 12 12% 8%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 12 12% 8%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 20.5 90.2% 48.2%;
		--primary-foreground: 222 43% 9%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 20.5 90.2% 48.2%;
	}

	.dark .shiki {
		background-color: var(--shiki-dark-bg) !important;
	}

	.dark .shiki,
	.dark .shiki span {
		color: var(--shiki-dark) !important;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	html {
		font-family: 'DMSans', sans-serif;
	}

	@font-face {
		font-family: 'Besley';
		src: url('/fonts/Besley/regular.ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'Besley';
		src: url('/fonts/Besley/italic.ttf');
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'DMSans';
		src: url('/fonts/DMSans/regular.ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'DMSans';
		src: url('/fonts/DMSans/italic.ttf');
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'PermanentMarker';
		src: url('/fonts/PermanentMarker/regular.ttf');
		font-display: swap;
	}
}

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.prose {
	max-width: 100%;

	* {
		@apply text-foreground;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply my-4 font-title font-semibold leading-loose tracking-wider;
	}

	blockquote,
	hr {
		@apply border-foreground;
	}

	a {
		@apply font-bold text-primary no-underline decoration-2 underline-offset-[6px] transition-all hover:underline hover:underline-offset-4;
	}

	p {
		@apply tracking-wide text-foreground/90;
	}

	li {
		@apply text-foreground/80 marker:text-foreground/80;
	}

	:not(pre) > code {
		&:before,
		&:after {
			content: none;
		}

		@apply rounded border bg-card bg-noise px-2 py-1 dark:border-muted;
	}

	pre > code {
		@apply mr-2;
	}

	pre {
		@apply border bg-noise shadow-sm dark:border-muted;
	}
}
